<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Halloween Greeting</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="~/Content/Site.css" rel="stylesheet" />

    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/Site.css">
    

</head>
<style>
    body {
        margin-top: 20px;
    }

    #floating-label .form-group {
        display: flex;
        height: 55px;
    }

    #floating-label .control-label {
        font-size: 16px;
        font-weight: 400;
        opacity: 0.4;
        pointer-events: none;
        position: absolute;
        transform: translate3d(6px, 22px, 0) scale(1);
        transform-origin: left top;
        transition: 240ms;
    }

    #floating-label .form-group.focused .control-label {
        opacity: 1;
        transform: scale(0.75);
    }

    #floating-label .form-control {
        align-self: flex-end;
    }

        #floating-label .form-control::-webkit-input-placeholder {
            color: transparent;
            transition: 240ms;
        }

        #floating-label .form-control:focus::-webkit-input-placeholder {
            transition: none;
        }

    #floating-label .form-group.focused .form-control::-webkit-input-placeholder {
        color: #bbb;
    }
</style>
<body>
    <div class="as-container container">
        <header> <h1>Send your friends a spooky e-Greeting!</h1></header>
        @RenderBody()

        <footer>
            <p>@DateTime.Now.Year - Halloween Greeting. All rights reserved.</p>
        </footer>
    </div>
</body>

<!--JQUERY LIBRARY-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--BOOTSTARP JS-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--JAVASCRIPT-->
<script src="~/js/site.js"></script>
</html>