body {
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
}


.container {
    background-color: #ff6347;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

/*FOCUS form outline to black*/
.form-control:focus {
    border-color: #000000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}


#buttonSubmit:hover, #buttonSubmit:focus {
    background-color: #000000;
    color: #ff6347
}


.img-responsive {
    width: 100%
}