<h1>Send your friends a spooky e-Greeting!</h1>

<div class="row">
    <div class="col-sm-6">
        <img class="img-responsive img-rounded" src="~/Content/Images/spookyTiger.jpg"  alt="Lights" style="width:100%">
    </div>

    <h3>Select an image!</h3>
    <!--- SELECT AN IMAGE FOR E-CARD-->
    <div class="col-sm-2">
        <div class="thumbnail">
            <a href="images/lights.jpg">
                <img src="~/Content/Images/monkeyPumpkin.jpg" class="img-rounded" alt="Lights" style="width: 100%">
            </a>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="thumbnail">
            <a href="images/lights.jpg">
                <img src="~/Content/Images/tigerPumpkin.jpg" class="img-rounded" alt="Lights" style="width: 100%">
            </a>
        </div>
    </div>

    <div class="col-sm-2">

        <div class="thumbnail">
            <a href="images/lights.jpg">
                <img src="~/Content/Images/monkeyPumpkin.jpg" class="img-rounded" alt="Lights" style="width: 100%">
            </a>
        </div>
    </div>

</div>

<br />
<div class="row">
    <form>
        <div class="col-sm-6">
            <!-- SEND TO-->
            <div class="form-group">
                <input type="email" class="form-control" id="sendToEmail" placeholder="Send To">
            </div>

            <div class="form-group">
                <input type="email" class="form-control" id="sendersEmail" placeholder="Sender's Email">
            </div>
        </div>

        <!--SEND FROM-->
        <div class="col-sm-6">
            <div class="form-group">
                <input type="email" class="form-control" id="from" placeholder="From Name">
            </div>

            <div class="form-group">
                <input type="email" class="form-control" id="fromEmail" placeholder="From Email">
            </div>
        </div>

        <!-- SUBJECT + MESSAGE COMPOSITION-->
        <div class="col-sm-6">

            <div class="form-group">
                <input type="email" class="form-control" id="subject" placeholder="Subject">
            </div>

            <textarea class="form-control" id="comments" name="comments" placeholder="Send your spooky greeting here!" rows="6">

            </textarea><br>

        </div>

        <!--SUBMIT -->
        <div class="col-sm-12">
            <div class="form-group">
                <button class="btn btn-default pull-right" id="buttonSubmit" type="submit">Send</button>
            </div>
        </div>

    </form>


</div>
